#header{
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
    margin: 8px;
}

img{
    width: 100px;
    padding: auto;
    cursor: pointer;
}

ul{
    display: flex;
    margin: 20px;
}

li{
    list-style: none;
    padding: 25px;
    font-size: 25px;   
}

.filter{
    padding:5px;
    margin: 4px;
}

.filter-btn{
    cursor: pointer;
}

.res-card{
   padding: 3px;
   margin: 3px;
   background-color:#f0f0f0;
   width: 200px;
   /* height: 420px; */
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
#res-logo{
    width:200px;
    height: 42%;
}

#res-container{
    display: flex;
    flex-wrap: wrap;
    margin:5px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.shimmer-card{
    padding: 3px;
    margin: 3px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login{
    padding:0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
    justify-content: space-between;
}